{% extends "colin_dot_com/colin_dot_com.html" %}

{% load widget_tweaks %}

{% block content %}
    <div class="rowset">
        <div class="row">
            <div class="small-12 large-centered small-centered columns">
                <div class="intro">
                    Hello, I'm  <span class="highlight">Colin</span><br />
                    I'll help you find local manufacturers.<br />
                    Let's make things.
                </div>
                <div class="intro_subtitle">
                    Discover <a href="/manifesto">verified prototyping and small-batch manufacturers</a> in the U.S.A.
                </div>
            </div>
        </div>
    </div>
    <div class="rowset">
        <div class="row">
            <div class="columns">
                <a class="button signup" href="/signup">Sign up!</a>
            </div>

        </div>
    </div>
{% endblock %}