{% extends "colin_dot_com/colin_dot_com.html" %}

{% load widget_tweaks %}

{% block content %}
    <body class="login-bg">

    <div class="rowset">
        <div class="row">
            <div class="colin_form">
                <div class="small-11 large-5 columns colin_form">
                    <h1>Time for a change?</h1>
                    <h3>We recommend you use a strong password (*cough* don't make it 'password').</h3>
                    {% if form.errors or next %}
                        <div class="callout alert small">
                            {% if form.errors %}
                                <p>Oops! We had a problem trying to change your password!</p>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="small-11 large-5 columns colin_form end">
                    <form method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
                        {% csrf_token %}

                        {% render_field form.old_password placeholder="Old password" %}
                        {{ form.old_password.errors }}

                        {% render_field form.new_password1 placeholder="New password" %}
                        {{ form.new_password1.errors }}

                        {% render_field form.new_password2 placeholder="Confirm password" %}
                        {{ form.new_password2.errors }}
                        <input type="submit" class="button fill_width" value="Change password"/>
                        <input type="hidden" name="next"
                               value="{% if next %}{{ next }}{% else %}/dashboard{% endif %}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}