{% extends "colin_dot_com/colin_dot_com.html" %}

{% load widget_tweaks %}

{% load staticfiles %}

{% block head %}
    {{ company_form.media }}
{% endblock %}

{% block content %}
    <body class="landing-bg" {% if image %} style="background-image: url('{{ MEDIA_URL }}{{ image.image }}');"{% endif %}>
        {% include "colin_dot_com/landing/landing.section.html" %}
        {% if image %}
            {% if image.company %}
                <a href="/companys/{{ image.company.id }}">
            {% endif %}
            <div class="landing-caption">{{ image.caption }}</div>
            {% if image.company %}
                </a>
            {% endif %}
        {% endif %}
    </body>
{% endblock %}